
<div>
    <button id="downloadBtn" [disabled]="searchEntries.length == 0" (click)="downloadFile()" clickable>Download file</button>
</div>

<div class="resultList">
    <div *ngFor="let entry of searchEntries" class="ds-borders ds-brcolor-fog ds-corners mb-16 ng-star-inserted">
        <div class="row p-8">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="mb-16">
                    <a class="text-title-5" [href]="entry.url">{{entry.title}}</a>

                <span class="ds-bgcolor-fog ds-corners ml-4 px-8 categorylbl" id="searchcategory_0">
                    
                    <ng-container *ngFor="let category of entry.category | keyvalue; let i = index">
                        <!-- Support <span class="ng-star-inserted">-</span> Wireless -->
                        <ng-container *ngIf="i == 0; else elseBlock">
                            {{category.value}}
                        </ng-container>
                        <ng-template #elseBlock>
                            <span class="ng-star-inserted">-</span> {{category.value}}
                        </ng-template> 
                    </ng-container>
                
                </span>
                </div>
                <p class="mb-0" id="description">{{entry.description}}</p>
            </div>
        </div>
    </div>
</div>